body,div,dl,dt,dd,span,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}
body { font-family: "Droid Sans", sans-serif; }

#header { vertical-align: middle; height: 40px; background-color: #89BF04; margin: 0; padding-left: 20px; color: white; }

#resource,#i18n,#overview { margin-top: 20px; margin-left: 10px; margin-right: 10px;}
.method { margin-bottom: 15px; border: 1px solid #C3D9EC; background-color: #E7F0F7; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px;}

.header_type { color: white; margin-top: -6px; width: 80px; height: 25px; line-height: 25px; display: inline-block; text-align: center; vertical-align: middle; font-size: 10px; background-color: #0F6AB4; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; }
.header_name { margin-left: 4px; font-size: 20px; line-height: 25px; }
.header { overflow: hidden; }
.header h3 { font-weight: normal; padding: 0; font-size: 20px; line-height: 25px; height: 25px; display: inline-block; }
.header_desc { text-align: right; font-size: 13px; float:right; line-height: 25px; vertical-align: middle; color: #0F6AB4; }

.content h4 { color: #0F6AB4; font-size: 20px; font-weight: normal; margin-top: 10px;  }
.content p { color: #666; font-size: 13px; margin-left: 10px; }
.content { display: none; padding: 10px; border-top: 1px solid #C3D9EC; }
.content table { width: 100%; padding-left: 30px; }
.content table tr { margin-left: 30px; }
.require td { font-weight: bold; }
.thirdy { width: 20%; }
.param_type { font-weight: normal !important; font-style: italic; }
table { font-size: 13px; border-collapse: collapse; border-spacing: 0; }
.example { margin-top: 5px; padding: 5px; white-space: pre; border: 1px solid #ccc; font-size: 14px; font-family: "Anonymous Pro", "Menlo", "Consolas", "Bitstream Vera Sans Mono", "Courier New", monospace; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; }
.ex_pro { color: #0F6AB4; font-weight:bold; }
.ex_com { color: #666; }
.shorts { color: #666; font-size: 13px; margin-left: 40px; }

 caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }
  
table.fullwidth {
  width: 100%; }
table thead tr th {
  padding: 5px;
  font-size: 0.9em;
  color: #666666;
  border-bottom: 1px solid #999999; }
table tbody tr.offset {
  background-color: #f5f5f5; }
table tbody tr td {
  padding: 6px;
  font-size: 0.9em;
  border-bottom: 1px solid #cccccc;
  vertical-align: top;
  line-height: 1.3em; }
table tbody tr:last-child td {
  border-bottom: none; }
table tbody tr.offset {
  background-color: #f0f0f0; }
